﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Yönetim Paneli</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/AdminCss.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>


<body>

    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    @{string resimYolu = "/Images/Rehber/default.png"; }
                    <div class="profile-userpic">
                        <img src=@resimYolu class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                           @*{ Convert.ToString(Session["yonetici"]);}*@
                        </div>
                        
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <!--<button type="button" class="btn btn-success btn-sm">Çıkış</button>-->
                        @Html.ActionLink("Cikis", "Cikis", "Admin/Yonetim", new { @class = "btn btn-success btn-sm" })
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li >
                                <a href="~/Admin/Yonetim/Index">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Ana Sayfa
                                </a>
                            </li>
                            <li>
                                <a href="~/Admin/Yonetim/KullaniciSil">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Kullanıcı Sil
                                </a>
                            </li>
                            <li>
                                <a href="~/Admin/Yonetim/Silinenler">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    Silinen Rehberler
                                </a>
                            </li>
                            <li>
                                <a href="~/" target="_blank">
                                    <i class="glyphicon glyphicon-flag"></i>
                                    Telefon Rehberi
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="profile-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <center>
        <strong><!--Footer--></strong>
    </center>
    <br>
    <br>
    <footer></footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>