﻿@model IEnumerable<TelefonRehberi.Models.Uye>

@{
    ViewBag.Title = "Kullanıcı Sil";
}


<table class="table table-striped table-bordered">
    <tr align="center">
        <td><b>Adı</b></td>
        <td><b>Soyadı</b></td>
        <td><b>Email</b></td>
        <td><b>Sil</b></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="center">
            <td>@Html.DisplayFor(deger => item.Ad)</td>
            <td>@Html.DisplayFor(deger => item.Soyad)</td>
            <td>@Html.DisplayFor(deger => item.Email)</td>
            <td>@Html.ActionLink("Sil", "KullaniciSil_Id", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
        </tr>
    }

</table>
