﻿@model IEnumerable<TelefonRehberi.Models.Rehber>
@{
    ViewBag.Title = "Silinenler";
}
<table class="table table-striped table-bordered">
    <tr align="center">
        <td><b>Adı</b></td>
        <td><b>Soyadı</b></td>
        <td><b>Telefon</b></td>
        <td><b>Silem</b></td>
        <td><b>Geri Yükle</b></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="center">
            <td>@Html.DisplayFor(model => item.Ad)</td>
            <td>@Html.DisplayFor(model => item.Soyad)</td>
            <td>@Html.DisplayFor(model => item.Telefon)</td>
            <td>@Html.DisplayFor(model => item.Ekleyen)</td>
            <td>@Html.ActionLink("Geri Yükle","GeriYukle",new { id = item.Id },new { @class = "btn btn-success btn-sm" })</td>
        </tr>
    }


</table>
