﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Telefon Rehberi</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <link href="~/Content/AnaSayfa.css" rel="stylesheet" type="text/css" />
</head>
<body>
        <div class="container">
            <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
            <div class="mail-box">
                <aside class="sm-side">
                    <div class="user-head">
                        <a class="inbox-avatar">
                        @{string resimYolu = "../Images/Rehber/default.png"; }
                            <img width="64" hieght="60" src=@resimYolu class="img-thumbnail">
                        </a>
                        <div class="user-name">
                            @{
                                if (Session["email"] == null)
                                {
                                    <h5><a href="#">Misafir Kullanıcı</a></h5>
                                }
                                else
                                {
                                    <h5><a href="#">@Convert.ToString(Session["email"])</a></h5>
                                }

                            }
                            
                        </div>
                        
                    </div>
                    @{
                        if (Session["email"] != null)
                        {
                            <div class="inbox-body">
                                <a href="~/Uyelik/Cikis" data-toggle="modal" title="Compose" class="btn btn-compose">
                                    Çıkış
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="inbox-body">
                                <a href="~/Uyelik/Giris" data-toggle="modal" title="Compose" class="btn btn-compose">
                                    Giriş Yapın
                                </a>
                            </div>

                        }
                    }
                    <ul class="inbox-nav inbox-divider">
                        <li>
                            <a href="~/Home/Index"><i class="fa fa-inbox"></i> AnaSayfa</a>

                        </li>
                        <li>
                            <a href="~/Home/Ekle"><i class="fa fa-bookmark-o"></i> Telefon Ekle</a>
                        </li>
                        
                        <li>
                            @{
                                if (Session["email"] == null)
                                {
                                    <a href="~/Uyelik/Giris"><i class="fa fa-external-link"></i> Uyelik </a>
                                }
                                else
                                {
                                    <a href="~/Uyelik/KullaniciPaneli"><i class="fa fa-external-link"></i> Kullanıcı Paneli </a>
                                }
                            }
                            
                        </li>
                    </ul>

                    <!--<div class="inbox-body text-center">
                        <div class="btn-group">
                            <a class="btn mini btn-primary" href="javascript:;">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>-->

                </aside>
                <aside class="lg-side" id="icerik">
                  @RenderBody()
                </aside>
            </div>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <hr />
    </body>
   
</html>