﻿@model TelefonRehberi.Models.Rehber
<script>
    $(document).ready(function () {
        $('#ornekModal').modal('show');
    });
</script>

<style>
    .img-circle{
        border-radius: 50%;
        border: 2px solid #000;
    }
    .form-control{
        text-align:center;
    }
</style>


<div class="modal fade" tabindex="-1" role="dialog" id="ornekModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Kişi</h4>
            </div>
            <div class="modal-body">
                <fieldset disabled>
                    <div align="center">
                    @{
                        string resimYolu = "/Images/Rehber/default.png";

                        if (Model.Resim != null)
                        {
                            resimYolu = "/Images/Rehber/" + Model.Resim;
                        }
                    }

                   <img src=@resimYolu alt="Resim" width="143" height="143" class="img-circle">
                    <br /><br />
                            
                    @Html.Label("Kişi Adı : ") <br />
                    @Html.TextBoxFor(model => model.Ad , new { @class = "form-control" }) <br />
                    @Html.Label("Kişi Soyadı : ") <br />
                    @Html.TextBoxFor(model => model.Soyad, new { @class = "form-control" }) <br />
                    @Html.Label("Kişi Telefonu : ")<br />
                    @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" }) <br />
           
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <!--<button type="button" class="btn btn-danger">Sil</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ornekModal"> Sil </button>-->

