﻿
<!--@model TelefonRehberi.Models.Rehber

<script>
    $(document).ready(function () {
        $('#ornekModal').modal('hide');
    });
</script>

<div class="modal fade" tabindex="-1" role="dialog" id="ornekModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Kişi Sil</h4>
            </div>
            <div class="modal-body">
                <fieldset disabled>
                    @Html.Label(" Adı : ") <br />
                    @Html.TextBoxFor(model => model.Ad, new { @class = "form-control" }) <br />
                    @Html.Label(" Soyadı : ") <br />
                    @Html.TextBoxFor(model => model.Soyad, new { @class = "form-control" }) <br />
                    @Html.Label(" Telefon Numarası : ") <br />
                    @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" }) <br />
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                <!--<button type="button" class="btn btn-danger">Sil</button>-->
                @Html.ActionLink("Sil", "Sil", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#ornekModal"> Sil </button>
-->







