﻿
@model TelefonRehberi.Models.Rehber

@{
    ViewBag.Title = "Ekle";
}




<h3 align="center">Kişi Ekle</h3>
<hr />

@using (Html.BeginForm("Ekle", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <div align="center">
    <p class="text-danger">@ViewBag.uyari</p>

    <div>
        @Html.Label("Kişi Adi : ")<br />
        @Html.TextBoxFor(model => model.Ad, new { @class = "form-control" })
        <text class="text-danger"> @Html.ValidationMessageFor(model => model.Ad)</text>
    </div>
    <br />
    <div>
        @Html.Label("Kişi Soyadi : ")<br />
        @Html.TextBoxFor(model => model.Soyad, new { @class = "form-control" })
        <text class="text-danger"> @Html.ValidationMessageFor(model => model.Soyad)</text>
    </div>
    <br />
    <div>
        @Html.Label("Kişi Telefonu : ")<br />
        @Html.TextBoxFor(model => model.Telefon, new { @class = "form-control" })
        <text class="text-danger"> @Html.ValidationMessageFor(model => model.Telefon)</text>
    </div>
    <br />

    <div>
        @Html.Label("Resim : ")<br />
        <input type="file" name="Resim" accept="image/*" />
    </div>
    <br />


    <div>
        <input type="submit" value="Kaydet" class="btn btn-success" />
        <a href="~/Home/Index" class="btn btn-danger"> Vazgeç  </a>
    </div>

    </div>
}
