﻿@model IPagedList<TelefonRehberi.Models.Rehber>

@using PagedList
@using PagedList.Mvc







<!--------------------------jQuery---------------------->                   
<script>
  $(document).on("click", "#detay", function () {
       var id = $(this).attr("data-id");
       $('#result').load('/Home/Detay/' + id);
    });
</script>
<!--------------------------jQuery---------------------->  





@{
    ViewBag.Title = "Numaralar";
}

<h3 align="center">Tüm Numaralar</h3>
<hr />

<table class="table table-striped table-bordered">
    <tr align="center">
        <td><b>Adı</b></td>
        <td><b>Soyadı</b></td>
        <td><b>Telefom</b></td>
        <td><b>İşlem</b></td>
    </tr>
@foreach (var item in Model)
{
    <!-- tr içinde id=@*item.Id*@-->
    <tr align="center">
            <td>
                @Html.DisplayFor(deger => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(deger => item.Soyad)
            </td>
            <td>
                @Html.DisplayFor(deger => item.Telefon)
            </td>
            <td>
               <input type="button" id="detay" value="Detay" data-id="@item.Id" class="btn btn-success btn-sm"/>
           </td>
    </tr>

}<!--Foreach Sonu-->

</table>




<div class="pagedList" align="center">
    @Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa }), PagedListRenderOptions.PageNumbersOnly)
</div>

<div id="result"> </div>