﻿@model TelefonRehberi.Models.Uye
@{
    ViewBag.Title = "Giris";
}

<h3 align="center">Giriş</h3>
<hr />

@using (Html.BeginForm("Giris","Uyelik"))
{
    <div align="center">
    <p class="text-danger">@ViewBag.uyari</p>
    <div>
        @Html.Label("Email Adresiniz : ")
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" }) 
        <text class="text-danger">@Html.ValidationMessageFor(model => model.Email)</text>
    </div><br />
    <div>
        @Html.Label("Sifreniz : ")
        @Html.PasswordFor(model => model.Sifre, new { @class = "form-control" })
        <text class="text-danger">@Html.ValidationMessageFor(model=>model.Sifre)</text>
    </div><br />
    
   @Html.ActionLink("Üye Değil Misin", "Kayit", "Uyelik") <br /><br />



    <input type="submit" value="Giris" class="btn btn-success" />
    <a href="~/Home/Index" class="btn btn-danger"> Vazgeç  </a>
   </div>
}

