﻿
@{
    ViewBag.Title = "Hata";
}
<h1 align="center"> Üyelere Özel Sayfa</h1><hr />

<p align="center">
    Bu özelliği kullanmak için üye girişi yapmalısınız.<br /><br />
    Hala üye değil misin ?   
    @Html.ActionLink("Uye Ol", "Kayit", "Uyelik") <br /><br />
    Yada @Html.ActionLink("Giriş Yap", "Giris", "Uyelik")
    
</p>