﻿@model TelefonRehberi.Models.Uye
@{
    ViewBag.Title = "Kayit";
}

<h3 align="center">Kayit</h3>
<hr />

@using (Html.BeginForm("Kayit","Uyelik"))
{
    <div align="center">
    <p class="text-danger">@ViewBag.uyari</p>
    <div>
        @Html.Label("Adınız : ")<br />
        @Html.TextBoxFor(model => model.Ad,new { @class = "form-control" })
        <text class="text-danger">@Html.ValidationMessageFor(model => model.Ad)</text>
    </div><br />

    <div>
        @Html.Label("Soyadınız : ") <br />
        @Html.TextBoxFor(model => model.Soyad, new { @class = "form-control" })
        <text class="text-danger">@Html.ValidationMessageFor(model => model.Soyad)</text>
    </div><br />

    <div>
        @Html.Label("Email Adresiniz : ") <br />
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        <text class="text-danger">@Html.ValidationMessageFor(model => model.Email)</text>
    </div><br />

    <div>
        @Html.Label("Şifreniz : ") <br />
        @Html.PasswordFor(model=>model.Sifre,new { @class ="form-control"})
        <text class="text-danger"> @Html.ValidationMessageFor(model=>model.Sifre) </text>
    </div><br />
    @Html.ActionLink("Üye Misiniz ?", "Kayit", "Uyelik") <br /><br />

    <input type="submit" value="Kayıt Ol" class="btn btn-success" />
    <a href="~/Home/Index" class="btn btn-danger"> Vazgeç  </a>
    </div>
}
