﻿
@model IEnumerable<TelefonRehberi.Models.Rehber>

@{
    ViewBag.Title = "Kullanıcı Paneli";
}


<!--------------------------jQuery---------------------->
<script>
    $(document).on("click", "#sil", function () {
       var id = $(this).attr("data-id");
       $('#result').load('/Uyelik/Sil/' + id);
    });
</script>
<!--------------------------jQuery---------------------->

<h3 align="center">Eklediğiniz Telefonlar</h3>
<hr />

<table class="table table-striped table-bordered">
    <tr align="center">
        <td><b>Adı</b> </td>
        <td><b>Soyadı</b></td>
        <td><b>Telefon</b></td>
        <td><b>Sil</b></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="center">
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Telefon</td>
            <td><input type="button" id="sil" value="Sil" data-id="@item.Id" class="btn btn-danger btn-sm" /></td>
        </tr>

    }

</table>
<div>
    @Html.ActionLink("Şifre Değiştir", "SifreDegis", new {@class="btn btn-success btn-sm"})
</div>

<div id="result"></div>

