﻿
@{
    ViewBag.Title = "OturumAcik";
}

<hr /><br />

<p align="center">
    Ooooops <br />
    Oturumunuz zaten açık...<br />
    @Html.ActionLink(" Anasayfaya dönmek için tıklayın...","Index","Home")


</p>

